@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Hide spin buttons */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
  }
}

:root {
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto,
    'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  --font-serif: 'Baskervville', serif;
}

@theme {
  --color-background: var(--color-white);

  --color-text-primary: var(--color-neutral-900);
  --color-text-secondary: var(--color-neutral-500);
  --color-text-disabled: var(--color-neutral-400);
  --color-text-error: var(--color-red-600);

  --color-border-primary: var(--color-neutral-200);
  --color-border-primary-alpha: rgba(0, 0, 0, 0.1);

  --color-button-default-bg: var(--color-neutral-100);
  --color-button-default-bg-hover: var(--color-neutral-200);
  --color-button-default-text: var(--color-neutral-900);
  --color-button-default-icon: var(--color-neutral-400);

  --color-button-accent-bg: var(--color-neutral-600);
  --color-button-accent-bg-hover: var(--color-neutral-500);
  --color-button-accent-text: var(--color-neutral-100);
  --color-button-accent-icon: var(--color-neutral-200);

  --color-button-danger-bg: var(--color-red-50);
  --color-button-danger-bg-hover: var(--color-red-100);
  --color-button-danger-text: var(--color-red-600);
  --color-button-danger-icon: var(--color-red-400);

  --color-control-default-bg: var(--color-white);
  --color-control-default-bg-hover: var(--color-neutral-200);
  --color-control-default-border: var(--color-neutral-700);
  --color-control-checked-bg: var(--color-neutral-500);
  --color-control-checked-bg-hover: var(--color-neutral-600);
  --color-control-checked-border: transparent;
  --color-control-checked-icon: var(--color-white);
  --color-control-disabled-bg: var(--color-neutral-100);
  --color-control-disabled-bg-hover: var(--color-neutral-200);
  --color-control-disabled-border: var(--color-neutral-300);
  --color-control-disabled-icon: var(--color-neutral-400);

  --color-surface-background: var(--color-white);
  --color-surface-hover: var(--color-neutral-200);

  --toast-border: var(--color-neutral-200);
  --toast-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --color-toast-icon: var(--color-neutral-500);
}

@layer theme {
  .dark {
    --color-background: var(--color-black);

    --color-text-primary: var(--color-neutral-200);
    --color-text-secondary: var(--color-neutral-400);
    --color-text-disabled: var(--color-neutral-500);
    --color-text-error: var(--color-red-400);

    --color-border-primary: var(--color-neutral-700);
    --color-border-primary-alpha: rgba(255, 255, 255, 0.2);


    --color-button-default-bg: var(--color-neutral-800);
    --color-button-default-bg-hover: var(--color-neutral-700);
    --color-button-default-text: var(--color-neutral-100);

    --color-button-accent-bg: var(--color-neutral-200);
    --color-button-accent-bg-hover: var(--color-neutral-100);
    --color-button-accent-text: var(--color-neutral-900);
    --color-button-accent-icon: var(--color-neutral-700);

    --color-button-danger-bg: var(--color-red-950);
    --color-button-danger-bg-hover: var(--color-red-800);
    --color-button-danger-text: var(--color-red-300);
    --color-button-danger-icon: var(--color-red-400);

    --color-surface-background: var(--color-neutral-900);
    --color-surface-hover: var(--color-neutral-800);

    --color-control-default-bg: var(--color-neutral-900);
    --color-control-default-bg-hover: var(--color-neutral-800);
    --color-control-default-border: var(--color-neutral-400);
    --color-control-checked-bg: var(--color-neutral-200);
    --color-control-checked-bg-hover: var(--color-neutral-100);
    --color-control-checked-border: transparent;
    --color-control-checked-icon: var(--color-neutral-900);
    --color-control-disabled-bg: var(--color-neutral-800);
    --color-control-disabled-bg-hover: var(--color-neutral-700);
    --color-control-disabled-border: var(--color-neutral-700);
    --color-control-disabled-icon: var(--color-neutral-600);
  }
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes toast-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}